<div dir="rtl" style="text-align: right; font-family: B Nazanin; font-size: 18px;">
  <ul>
    <li>الف - پدیده چه الزامات و شرایطی را دارد، بسته به نوع موضوع باید تشریح شود که چه هدفی از مدلسازی دنبال میشود.</li>
    <li>ب - فرضیات حاکم بر پدیده چیست؟ متغیرها و پارامترهای مختلف چه تاثیری بر تابع هدف دارند؟</li>
    <li>ج - مدل با چه ابزاری در ریاضیات قابل تحلیل و بررسی است؟ ممکن است شما به آن ابزار تسلط نداشته باشید، لازم است کمی راجع به آن توضیح دهید.</li>
    <li>د - نتیجه گیری، یعنی مدل نوشته شده چه نتایجی را در اختیار ما میگذارد و ارزش توجه به آنرا بیان کنید. به بیان دیگر مزیتهای مدل چیست.</li>
  </ul>
</div>

<div dir="rtl" style="text-align: right;">
 <h1>مدلسازی پروازهای عبوری از فضای ایران</h1>
</div>

<div style="text-align: center;">
  <img src="Carsonstudy-1024x676.jpg" alt="Alt Text" height="400" width="800"/>
</div>

***

|                   |  نیازمندی ها           |
| ---------------------- | -------------------------------------------------------------------- |
| ✈️ **داده های پروازی**     | رکورد پروازهای عبوری |
| 💲 **اطلاعات صورتحساب**    | نرخ پروازهای عبوری بر حسب مسیر                  |
| 🗓 **تاریخ پروازها**     | برچسب زمان ورود             |
| 🛂 **شناسه شرکت های هواپیمایی**      | کد یکتا ایکائو                |
| 📈 **تاریخچه داده ها** | بازه زمانی کافی برای محاسبه الگو           |

|                   | شرایط و ملاحظات                                                        |
| ------------------------- | ------------------------------------------------------------------------ |
| ✈️ **الگوی پروازی**    | فصلی، چارتری، برنامه، غیر برنامه ای  |
| 🔄 **تغییرات مسیرهای هوایی**   | بسته بودن مسیر، تداخل مسیرها یا راه های هوایی جدید|
| 🌍 **مخاطرات تأثیرات جغرافیایی** | تحریم،مناطق جنگی یا روابط دیپلماتیک |
| 📉 **حساسیت نرخ**    | ارزیابی کشش  → دوری ایرلاین ها از فضای هوایی گران       |
| 💾 **کیفیت اطلاعات**       | برچسب های زمانی نادقیق یا اطلاعات مالی اشتباه |


| هدف                      | مزیت                         |
| ---------------------------- | ------------------------------ |
| دسته بندی شرکت های هواپیمایی             | تمرکز بر مشتری های بالقوه   |
| پیش بینی درآمدهای عبوری   | برنامه ریزی بودجه و زیرساخت  |
| تحلیل تاثیرات سیاست گذاری | تنظیم نرخ بر اساس رفتار |
| بهینه سازی نرخ هوایی    | ایجاد تعادل بین درآمد و ترافیک    |

***

Sell## 🛍️ Up-Selling, Cross-Selling, and Repeat Purchases 

A reduction in customer churn directly uplifts the revenue.
With customer behavior modeling, businesses can easily look at customer segments that are ripe for up-selling, cross-selling, and repeat purchases. These three sales maximizing tactics will maximize CLTV and also bring in more dollars to the business coffers.

| **Concept**       | **Definition** | **Example** | **Goal** |
|--------------------|----------------|-------------|----------|
| **Up-Selling**     | Selling a **more expensive or upgraded** version of the product the customer is considering. | Customer wants a basic phone → you suggest a premium model with better features. | Increase the **order value**. |
| **Cross-Selling**  | Selling **related or complementary** products to what the customer is buying. | Customer buys a laptop → you suggest a laptop bag or mouse. | Increase the **basket size**. |
| **Repeat Purchase**| Customer **returns to buy again** after a previous purchase. | Customer buys shoes → comes back next month to buy another pair. | Build **loyalty** and **lifetime value**. |

---

### 📈 Concept Relationships 

$$
\text{Up-Selling:} \quad \text{Encourage buying a higher-tier product (} P^+ \text{)}
$$

$$
\text{Cross-Selling:} \quad \text{Encourage buying complementary products (} P + Q \text{)}
$$

$$
\text{Repeat Purchase:} \quad \text{Customer returns for } P \text{ after time } t
$$

---

### 🧠 Quick Mnemonics 

- Up-Sell  &harr;  Upgrade the product
- Cross-Sell &harr; Add related products
- Repeat Purchase &harr; Retain and resell over time

***
# 📋 Agenda
- ## CLV 
    ### تخمین سود آتی به ازای هر مشتری با استفاده از نرخ حفظ مشتری و نرخ تنزیل
- ## FBR 
    ### تمرکز بر بهینه سازی درآمدهای حوزه هوانوردی
- ## RFM 
    ### بخش بندی مشتریان بر اساس الگو های رفتاری گذشته

| **Model**                        | **Variable / Parameter**    | **Symbol** | **Description**               |
| -------------------------------- | --------------------------- | ---------- | ----------------------------- |
|**CLV** *(Customer Lifetime Value)*  | Margin per period        | $m$        | سود کسب شده به ازای هر مشتری در واحد زمان                                  |                                        
| | Retention rate                   | $r$        | احتمال ادامه رابطه مشتری در دوره بعدی                   |
| | Discount rate                    | $d$        | ارزش فعلی جریان‌های نقدی در هر دوره                             |
| | CLV formula                 | $CLV$| $CLV = \frac{m \cdot r}{1 -r + d }$    |
| |Lifetime revenue projection | – | پیش‌بینی سود کل از یک مشتری |
| **FBR** *(Flight-Based Revenue)* | Number of overflights       | $N$        | تعداد کل پروازهای عبوری از حریم هوایی                    |
|                                  | Distance per flight         | $D$        | میانگین مسافت طی شده در حریم هوایی                   |
|                                  | Overflight fee rate         | $R$        | هزینه به ازای هر ناتیکال مایل                                     |
|                                  | Elasticity of demand        | $E_d$         |(کشش) $R$ حساسیت پروازها به تغییرات                    |
|                                  | Scenario adjustment factors | –          | برای مدل‌سازی تغییرات جغرافیایی، فصلی یا رقابتی استفاده می‌شود |
|                                  | Total revenue               | $TR$       | $TR = N \times D \times R$         |
|**RFM** *(Recency–Frequency–Monetary)* | Recency | $R$| زمان سپری شده از آخرین فعالیت مشتری (smaller = more recent) |
| | Frequency | $F$ | تعداد فعالیت مشتری (e.g., purchases, flights) |
| | Monetary | $M$| کل مبلغی که مشتری پرداخت کرده است |
| | RFM score | – | R، F، M رتبه‌بندی ترکیبی یا چندک | 
| | Segmentation | – | گروه‌بندی مشتریان (e.g., champions, at risk, lost) |
| | Combined into a single number | – | $\text{RFM}_{i} = 100 \cdot R_{i}^* + 10 \cdot F_{i}^* + M_{i}^*$ |       
***

## Customer Lifetime Value (CLV) — Mathematical Definitions

The Customer Lifetime Value (CLV) formula calculates the total revenue a business can expect from a single customer over the entire duration of their relationship. It helps businesses make data-driven decisions about marketing, sales, and customer retention strategies.
### 🧮 1. Simple CLV Formula
- 🎲 Their chance of staying (retention),

- 💰 The value they bring (margin),

- ⌛ The decreasing value of future money (discounting).

Assuming constant margin \( m \), retention rate \( r \), and discount rate \( d \):

$$
\text{CLV} = \frac{m \cdot r}{1 + d - r }
$$
#### 📚 CLV Parameters Table

| **Symbol** | **Name**            | **Description** |
|:----------:|---------------------|-----------------|
| $m$    | Margin per period    | **Profit** earned **per customer per period**, assumed **constant** over time. |
| $r$    | Retention rate       | **Probability** that a customer **remains active** in the next period (value between 0 and 1). |
| $d$    | Discount rate        | Reflects how much **time value of money** — future profits  are discounted; higher \( d \) means future money is worth less. |
    
If:

- $𝑟$ is high (close to 1) → Customers stay longer → Higher CLV.

- $𝑚$ is high → More profit per period → Higher CLV.

- $𝑑$ is low → Future money is almost as good as today → Higher CLV.
---
### 📐 Logic Behind the CLV Formula
It is based on geometric series logic.
Assume:

- Time is divided into discrete periods (e.g., months, years).
- In each period:
  - The customer stays with probability \( r \).
  - If they stay, they bring margin \( m \).
  - Future profits are discounted at rate \( d \).

So the expected profit stream (CLV) is:
$$
\text{CLV} = m \cdot r + m \cdot r^2 \cdot \frac{1}{1 + d} + m \cdot r^3 \cdot \frac{1}{(1 + d)^2} + \cdots
$$

This is an infinite geometric series of the form:

$$
\text{CLV} = m \cdot r \sum_{t=0}^{\infty} \left( \frac{r}{1 + d} \right)^t
$$
This is a geometric series of the form:

$$
\sum_{t=0}^{\infty} x^t = \frac{1}{1 - x}, \quad \text{for } |x| < 1
$$

Let:

$$
x = \frac{r}{1 + d}
$$

Then:

$$
\sum_{t=0}^{\infty} \left( \frac{r}{1 + d} \right)^t = \frac{1}{1 - \frac{r}{1 + d}} = \frac{1 + d}{1 + d - r}
$$

So this series converges when:

$$
\frac{r}{1 + d} < 1
$$

The sum of the geometric series is:

$$
\sum_{t=0}^{\infty} \left( \frac{r}{1 + d} \right)^t = \frac{1}{1 - \frac{r}{1 + d}} = \frac{1 + d}{1 + d - r}
$$

Substitute back into the original expression:

$$
\text{CLV} = m \cdot r \cdot \frac{1 + d}{1 + d - r}
$$
Approximate Version (Optional)

Sometimes, for simplicity, the numerator \( 1 + d \) is omitted, resulting in the commonly seen form:

$$
\text{CLV} \approx \frac{m \cdot r}{1 + d - r}
$$

This version is a **heuristic approximation** and not algebraically identical to the exact formula.
Simplify:

$$
\text{CLV} = \frac{m \cdot r}{1 + d - r}
$$

### 📦 2. Discounted Revenue CLV

If we track revenue/profit over time:

$$
\text{CLV} = \sum_{t=1}^{T} \frac{r_t \cdot m_t}{(1 + d)^t}
$$

- \( $T$ \): customer lifetime (in time periods)  
- \( $r_t$ \): retention indicator or probability at time \( t \)  
- \( $m_t$ \): profit or revenue at time \( t \)  
- \( $d$ \): discount rate

#### How to Estimate Retention and Discount  Rate from Raw Data:
- Method 1: Cohort Retention
Group customers by when they first transacted (e.g., month joined).

Track whether they made purchases in each future period.

Calculate:
$$
r = \frac{\text{Number of customers who stayed}}{\text{Number of customers at start}}
$$
- Method 2: Overall Retention Rate
If you only have aggregated customer history:

$$
r = 1 − Churn Rate
$$

And churn rate is:
$$
Churn Rate = \frac{\text{Number of lost customers}}{\text{Total customers at the start}}
$$

✅ Common Approaches
- Use a fixed discount rate (e.g., 10% annual = d = 0.10)
— commonly used if no financial modeling is available.
- Use your company’s cost of capital or desired ROI.
- You can also model d based on average risk or inflation in your industry.

Example:
If your company expects a 12% return per year, then:
$$
d = 0.12
$$

If you are calculating monthly:

$$
d_{\text{monthly}} = \frac{0.12}{12} = 0.01
$$

---

### 📈  3. Transactional CLV (per customer)

Transactional CLV (Customer Lifetime Value) refers to a modeling approach that calculates CLV based on actual, observed transaction data, such as:

- When each customer made purchases

- How much they spent

- How frequently they bought over time

It focuses on tracking customer behavior over time, instead of assuming average behaviors or relying on simplified formulas.

$$
\text{CLV}_i = \sum_{j=1}^{n_i} \frac{p_{ij}}{(1 + d)^{t_{ij}}}
$$

- \( i \): customer index  
- \( j \): transaction index  
- \( $p_{ij}$ \): profit from transaction \( j \) by customer \( i \)  
- \( $t_{ij}$ \): time since acquisition or from now  
- \( $d$ \): discount rate

| Customer | Transaction  | Date       | Amount | $D_0$        | $t_{ij}$ (days)  |
| -------- | ------------ | ---------- | ------ | -------------| ---------------- |
| C123     |   $p_{11}$   | 2024-01-01 | \$80   | 2024-01-01   | 0                |
| C123     |   $p_{12}$   | 2024-01-17 | \$20   | 2024-01-01   | 16               |
| C456     |   $p_{21}$   | 2024-01-05 | \$200  | 2024-01-01   | 4                |

For C123:
 - $t_{11}$ =12 (1st transaction on day 1)

 - $t_{12}$ =12 (2nd transaction on day 17)

- It is used to measure recency:
 $R_i = T - t_{i,\text{last}}$
 &rarr;$R_i = 30 - max(t_{ij})$
- It is used to calculate frequency and interpurchase times:
 $t_{i2} - t_{i1},\quad t_{i3} - t_{i2},\quad t_{i4} - t_{i3},\quad \dots$

- It is needed in **survival analysis**, where the timing of events (transactions) matters.



| Customer | Total Transactions | Total Amount  | Avg Amount |
| -------- | ------------------ | ------------- | ---------- |
| C123     | 2                  | 80 + 20 = 100 | \$50       |
| C456     | 1                  | 200           | \$200      |


---

### 💡 4. Predictive CLV (Simplified)

If we estimate future values from behavioral features:

$$
\text{CLV}_i = \text{ExpectedFrequency}_i \times \text{ExpectedValue}_i \times \text{ExpectedLifespan}_i
$$
    
Example:
If a customer spends \\$50 on average per purchase, makes 3 purchases per year, and remains a customer for 5 years, then the CLV would be: 
$$
\text{CLV} = \\$50 \cdot 3 \cdot 5 = \\$750
$$
Each component can be predicted via machine learning or statistics.

---

### 🔮 5. Probabilistic Model (BG/NBD + Gamma-Gamma)

For advanced forecasting, you can use probabilistic models:

#### BG/NBD (Buy-Till-You-Die)
Estimates future purchases based on:

- Frequency of past purchases

- Recency of last purchase

- Time since first purchase

##### Expected future transactions:

$$
E[X_i(t)] = \text{Estimated using BG/NBD model}
$$

#### Gamma-Gamma Model (Expected average transaction value):
Estimates average transaction value assuming:

- Transaction amounts follow a Gamma distribution

- Amounts are independent of frequency

$$
E[M_i] = \text{Estimated using Gamma-Gamma model}
$$

#### Full model:

$$
\text{CLV}_i = E[X_i(t)] \cdot E[M_i]
$$

### 📋 CLV Model Summary Table

| **Model**                 | **Formula**                                                | **Use Case**                            |
|--------------------------|------------------------------------------------------------|------------------------------------------|
| **Simple CLV**           |  $\frac{m \cdot r}{1 + d - r}$               | Subscription, constant margin & churn   |
| **Discounted Revenue**   |  $\sum_{t=1}^{T} \frac{r_t \cdot m_t}{(1 + d)^t}$ | Time-based value with discounting     |
| **Transactional CLV**    |  $\sum_{j=1}^{n_i} \frac{p_{ij}}{(1 + d)^{t_{ij}}}$ | Historical transaction-level data    |
| **Predictive CLV**       |  $\text{Freq}_i \times \text{Value}_i \times \text{Lifespan}_i$ | ML-based estimation               |
| **BG/NBD + Gamma-Gamma** |  $E[X_i(t)] \cdot E[M_i]$            | Probabilistic, behavioral prediction     |

***

# ✈️ Flight-Based Revenue (FBR) Model

## 📌 What is FBR?

**Flight-Based Revenue (FBR)** is a *quantitative framework* used by countries to estimate and optimize the revenue earned from aircraft that **fly over their airspace** (without landing). It’s especially critical for countries located on major international flight routes — like Iran, Turkey, or Egypt.

---

## 🎯 Why FBR Matters

Countries charge airlines **overflight fees** based on factors like:
- Distance flown over the country.
- Aircraft weight or category.
- Route type (e.g., commercial, cargo).

These revenues serve as:
- A **major non-oil income source**.
- A **sensitive indicator** to geopolitical and competitive dynamics.

---

## 🔢 The Core Formula

$$
\text{Total Revenue (TR)} = N \times D \times R
$$

Where:
- \(N\): Number of overflights  
- \(D\): Average distance flown over national airspace  
- \(R\): Overflight fee per nautical mile  

---

## 🧠 Strategic Components

| Component                | Description                                                          |
|--------------------------|----------------------------------------------------------------------|
| Overflight Count (\(N\)) | Depends on route demand, airline routing, and alternatives           |
| Distance (\(D\))         | Typically fixed, based on geography                                  |
| Fee Rate (\(R\))         | Decision variable—raising it increases revenue but may reduce demand |
| Total Revenue (\(TR\))   | Output from model—reflects income from overflight charges            |

---

## 🧮 Optimization Scenario

If raising the fee from \\$50 to \\$55 causes a **3% drop** in flights, but each remaining flight brings in more:


$$
\text{New Revenue} = 0.97N \cdot D \cdot 55 = 1.067 \cdot (N \cdot D \cdot 50)
$$

This results in a **6.7% increase** in revenue — assuming only a small reduction in traffic volume.

---

## 🧩 Use Cases & Benefits

- 📊 **Revenue Forecasting**  
- 🛫 **Route competition analysis** (e.g., avoiding detours through neighbors)  
- ⚖️ **Policy decision-making** (e.g., fee adjustments during sanctions or conflict)

---

## ✅ Conclusion

The **FBR model** is a strategic tool that blends **economics, forecasting, and optimization** to help countries:
- Maximize overflight income  
- Compete effectively for international traffic  
- Respond intelligently to geopolitical shifts  
- Ensure sustainable, data-driven aviation policy

---


## 📊 RFM Analysis 

Let:

- \( $C = \{c_{1}, c_{2}, \ldots, c_n\}$ \): Set of customers  
- \( $T$ \): Reference date (typically the date of the analysis e.g., today's date)  
- \( $P_{i}$ \): Set of purchase dates by customer \( $c_{i}$ \)

---

#### 🔁 Recency
Recency value is the number of days a customer takes between two purchases. A smaller value of recency implies that the customer visits the company repeatedly in a short period. Similarly, a greater value implies that the customer is less likely to visit the company shortly.

\[
$R_{i} = T - \max(P_{i})$
\]

- Days since the customer's most recent purchase  
- Smaller \( $R_{i}$ \) means more recent activity

---

#### 🔂 Frequency
Frequency is defined as the number of purchases a customer makes in a specific period. The higher the value of frequency the more loyal are the customers of the company.

\[
$F_{i} = |P_i|$
\]

- Number of purchases in a defined time window

---

#### 💵 Monetary
Monetary is defined as the amount of money spent by the customer during a certain period. The higher the amount of money spent the more revenue they give to the company.

\[
$M_{i} = \sum_{p \in P_{i}} \text{Amount}_p$
\]

- Total monetary value spent by the customer

---
### 📚 Mathematical Definition of Quantile Binning
Quantile Binning (often shortened as QuantileBin) means dividing a set of numerical values into groups ("bins") based on their quantiles.

- A quantile splits your data into equal-sized parts (e.g., quartiles or quintiles).
    
Suppose you want to split your data into 4 bins:

- These bins are based on quartiles: 25%, 50%, 75%, 100% points.

- Each bin will cover roughly 25% of the samples.

Similarly:

10 bins → deciles (10% each).

100 bins → percentiles (1% each).

Given a dataset:

$X = \{x_1, x_2, \dots, x_n\}$

Quantile Binning splits the dataset into \( k \) bins using thresholds:

$\{ q_0, q_1, q_2, \dots, q_k \}\$

where:

- $q_0 = \min(X)$
- $q_k = \max(X)$
- $q_i$ is the $\frac{i}{k}$ -th quantile of the data.

Each bin is defined as:

$\text{Bin}_i = [q_{i-1}, q_i)$
$\quad \text{for} \quad i = 1, 2, \dots, k-1$

and

$$
\text{Bin}_k = [q_{k-1}, q_k]
\quad \text{(including the maximum)}
$$

---

✅ In Quantile Binning:
- Each bin contains (approximately) the same number of observations.
- The data points are assigned to bins based on their quantile range.

### 1. Equal Quantiles (Recommended for Uniform Distributions)

**Method:**  
Divide the month into equal-sized groups (e.g., quartiles, quintiles).

**Example (Quintiles: 5 Groups):**

| Days       | Quantile   |
|------------|------------|
| 1 - 6      | Quantile 1 |
| 7 - 12     | Quantile 2 |
| 13 - 18    | Quantile 3 |
| 19 - 24    | Quantile 4 |
| 25 - 31    | Quantile 5 |

**Pros:**  
- Simple  
- Works well if data is evenly distributed

**Cons:**  
- Uneven month lengths (e.g., 28 vs. 31 days) can skew groups

### 2. Business-Driven Buckets (Best for Actionable Insights)

**Method:**  
Align quantiles with business cycles (e.g., paydays, billing cycles).

**Example:**

| Days       | Bucket         | Description          |
|------------|----------------|----------------------|
| 1 - 10     | Early Month    | High spending        |
| 11 - 20    | Mid Month      | Average activity     |
| 21 - 31    | Late Month     | Low engagement       |

**Pros:**  
- Tied to real-world behavior (e.g., users act differently at month-end)

**Cons:**  
- Requires domain knowledge

### 3. Percentile-Based (For Skewed Data)

**Method:**  
Use percentiles (e.g., 20th/40th/60th/80th) if day behavior isn’t uniform.

**Example:**

| Days       | Percentile   | Description               |
|------------|--------------|---------------------------|
| 1 - 5      | P20          | Top 20% active days        |
| 6 - 12     | P40          |                           |
| 13 - 20    | P60          |                           |
| 21 - 31    | P80+         |                           |

**Pros:**  
- Handles outliers (e.g., spikes on specific days)

**Cons:**  
- Complex to explain


### 4. Fixed-Day Grouping (For Consistency)

**Method:**  
Predefined segments (e.g., weeks).

**Example:**

| Days       | Group     |
|------------|-----------|
| 1 - 7      | Week 1    |
| 8 - 14     | Week 2    |
| 15 - 21    | Week 3    |
| 22 - 31    | Week 4+   |

**Pros:**  
- Easy to compare across months

**Cons:**  
- Ignores behavioral nuances


### 🎯 RFM Score (Quantile-Based)

Each value is assigned a score from 1 to 5 (or any other scale), often using quantile binning:


-  $R_i^* = \text{QuantileBin}(R_i), \quad$ (lower recency → higher score)
-  $F_i^* = \text{QuantileBin}(F_i), \quad$ (higher frequency → higher score)
-  $M_i^* = \text{QuantileBin}(M_i)$ (higher monetary → higher score)


Then the RFM score is:

\[
$\text{RFM}_{i} = (R_{i}^*, F_{i}^*, M_{i}^*)$
\]

Or combined into a single number:

\[
$\text{RFM}_{i} = 100 \cdot R_{i}^* + 10 \cdot F_{i}^* + M_{i}^*$
\]

---

### 📋 RFM Summary Table

| Variable       | Formula                                | Interpretation                |
|----------------|----------------------------------------|-------------------------------|
| **Recency**    | $R_{i} = T - max(P_{i})$               | Days since last purchase      |
| **Frequency**  | $F_{i} = \lvert P_{i} \rvert$          | Number of purchases           |
| **Monetary**   | $M_{i} = \sum_{p \in P_{i}} Amount_{p}$| Total money spent             |

![Alt Text](rfm_score.png)
# RFM Scoring Example (Quantile-Based)

## Step 1: Sample Data
| Customer | Recency (Days) | Frequency (Orders) | Monetary ($) |
|----------|----------------|--------------------|-------------|
| A        | 30             | 5                  | 500         |
| B        | 90             | 2                  | 200         |
| C        | 10             | 8                  | 800         |
| D        | 120            | 1                  | 100         |
| E        | 60             | 4                  | 400         |

## Step 2: Quantile Scoring (1-5)
### Recency (Lower = Better)
| Customer | R Score |
|----------|--------|
| C (10)   | 5      |
| A (30)   | 4      |
| E (60)   | 3      |
| B (90)   | 2      |
| D (120)  | 1      |

### Frequency (Higher = Better)
| Customer | F Score |
|----------|--------|
| C (8)    | 5      |
| A (5)    | 4      |
| E (4)    | 3      |
| B (2)    | 2      |
| D (1)    | 1      |

### Monetary (Higher = Better)
| Customer | M Score |
|----------|--------|
| C (800)  | 5      |
| A (500)  | 4      |
| E (400)  | 3      |
| B (200)  | 2      |
| D (100)  | 1      |

## Step 3: Combined RFM Scores
| Customer | R | F | M | **Total RFM** |
|----------|---|---|---|--------------|
| A        | 4 | 4 | 4 | 12           |
| B        | 2 | 2 | 2 | 6            |
| C        | 5 | 5 | 5 | 15           |
| D        | 1 | 1 | 1 | 3            |
| E        | 3 | 3 | 3 | 9            |

## Step 4: Segmentation
| RFM Range | Segment      | Recommended Action          |
|-----------|-------------|----------------------------|
| 13-15     | **Champions** | Reward, retain, upsell     |
| 10-12     | **Loyal**     | Engage with promotions     |
| 7-9       | **Potential** | Re-engage (discounts)      |
| 4-6       | **At Risk**   | Win-back campaigns         |
| 1-3       | **Lost**      | Low priority/reactivation  |

### Key Insights:
- 🏆 **Top Customer**: C (RFM=15)  
- ⚠️ **At Risk**: B (RFM=6)  
- ❌ **Lost**: D (RFM=3)  

> **Note**: Quantile scoring ensures equal group sizes. Adjust ranges based on your business needs.

***

<h1 style="color: crimson;">My Data Set</h1>

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('2024-01.xlsx', index_col=0)

In [5]:
df.head(10)

,entry_time,exit_time,flight_year,flight_month,flight_day,departure,destination,entry_point,entry_coordinate,exit_point,exit_coordinate,reg,wmto,distance,total_charge,discount,final_charge
airline,,,,,,,,,,,,,,,,,
UAE,2024-01-01 00:00:00,2024-01-01 00:39:00,2024,1,1,"Dubai Intl, UAE","Shanghai/Pudong, China",IMLOT,25 17 13 N-57 08 00 E,ASVIB,26 57 24 N-63 18 12 E,A6EEF,569.000,347.34,988.67,0.00,988.67
UAE,2024-01-01 00:00:00,2024-01-01 01:46:00,2024,1,1,"Frankfurt, Main, Germany","Dubai Intl, UAE",BONAM,38 03 00 N-44 18 00 E,ORSAR,26 04 30 N-53 57 30 E,A6EUC,510.000,869.69,2355.76,0.00,2355.76
KMF,2024-01-01 00:00:00,2024-01-01 00:53:00,2024,1,1,"Jeddah Intl, Saudi Arabia","Kabul Ad, Afghanistan",DASUT,26 18 32 N-53 11 08 E,RANRU,30 01 15 N-61 00 48 E,YAKMU,276.500,470.28,845.52,0.00,845.52
IGO,2024-01-01 00:01:00,2024-01-01 00:49:00,2024,1,1,"Abu Dhabi, UAE","Lucknow, India",GABKO,26 04 04 N-55 47 55 E,ASVIB,26 57 24 N-63 18 12 E,VTIJC,79.000,406.65,241.55,0.00,241.55
ETD,2024-01-01 00:01:00,2024-01-01 01:46:00,2024,1,1,"Abu Dhabi, UAE","Zurich, Switzerland",RAGAS,26 35 37 N-52 13 37 E,TESVA,38 17 09 N-44 29 47 E,A6BMI,250.836,803.12,1334.76,667.38,667.38
UAE,2024-01-01 00:03:00,2024-01-01 00:59:00,2024,1,1,"Kansai Intl, Osaka, JAPAN","Dubai Intl, UAE",DERBO,29 25 42 N-61 17 01 E,PATAT,26 16 13 N-56 00 59 E,A6EPW,351.534,337.77,741.52,0.00,741.52
UAE,2024-01-01 00:04:00,2024-01-01 02:14:00,2024,1,1,"Dubai Intl, UAE","London Heathrow, United Kingdom",GABKO,26 04 04 N-55 47 55 E,DASIS,38 54 35 N-44 12 30 E,A6EUL,575.000,967.20,2766.59,0.00,2766.59
UAE,2024-01-01 00:04:00,2024-01-01 00:51:00,2024,1,1,"Narita Intl, Japan","Dubai Intl, UAE",DERBO,29 25 42 N-61 17 01 E,PATAT,26 16 13 N-56 00 59 E,A6EUJ,575.000,337.77,966.16,0.00,966.16
UAE,2024-01-01 00:04:00,2024-01-01 01:36:00,2024,1,1,"Sankt, Peterbuurg, Russian Federation","Dubai Intl, UAE",BATEV,38 10 05 N-50 14 19 E,ORSAR,26 04 30 N-53 57 30 E,A6ECK,351.534,750.10,1646.72,0.00,1646.72
JZR,2024-01-01 00:06:00,2024-01-01 01:44:00,2024,1,1,"Kathmandu, Nepal","Kuwait, Kuwait",DERBO,29 25 42 N-61 17 01 E,NANPI,29 04 57 N-49 31 57 E,9KCBG,79.000,615.64,365.70,0.00,365.70

In [6]:
%load_ext sql

In [7]:
%sql postgresql://postgres:1234@10.117.40.170:5432/lab
%config SqlMagic.displaylimit = None

### FBR

In [8]:
%%sql
result <<
select count(*) N, avg(distance) D,(sum(total_charge) / avg(distance)) R
from rfm.f202501 where airline = 'QTR';

 * postgresql://postgres:***@10.117.40.170:5432/lab
1 rows affected.
Returning data to local variable result

In [9]:
qtr_flight = result.DataFrame()

In [10]:
qtr_flight

      n           d            r
0  1189  643.462045  1594.449909

In [11]:
qtr_iac_revenue = qtr_flight['n'] * qtr_flight['d'] * qtr_flight['r']

In [12]:
qtr_iac_revenue.apply(lambda x: f"{x:,.2f}")

0    1,219,875,952.00
dtype: object

### RFM

In [13]:
%%sql
result <<
SELECT
  airline,
  COUNT(*)
FROM
  rfm.f202401
WHERE
  length (airline) = 3
GROUP BY
  airline
ORDER BY
  COUNT desc;

 * postgresql://postgres:***@10.117.40.170:5432/lab
150 rows affected.
Returning data to local variable result

In [14]:
%%sql
result <<
SELECT
  *
FROM
  (
    SELECT
      airline,
      flight_day,
      COUNT(*) AS flight_count,
      (
        SELECT
          MAX(entry_time)
        FROM
          rfm.f202501
        WHERE
          airline = f202401.airline
      ) last_purchase,
      SUM(total_charge) AS total_charge,
      SUM(final_charge) AS final_charge,
      RANK() OVER (
        PARTITION BY
          flight_day
        ORDER BY
          COUNT(*) DESC
      ) AS RANK
    FROM
      rfm.f202401
    WHERE
      EXISTS (
        SELECT
          1
        FROM
          rfm.f202501
        WHERE
          f202501.airline = f202401.airline
          AND f202501.flight_day = f202401.flight_day
          
      )
      AND EXISTS (
        SELECT
            1
        FROM
            rfm.f202301
        WHERE
            f202301.airline = f202401.airline
            AND f202301.flight_day = f202401.flight_day			
	  )
      AND LENGTH (airline) = 3
    GROUP BY
      airline,
      flight_day
  ) sub
WHERE
  RANK <= 5
ORDER BY
  flight_day,
  RANK;

 * postgresql://postgres:***@10.117.40.170:5432/lab
157 rows affected.
Returning data to local variable result

In [15]:
result

[('UAE', 1, 147, datetime.datetime(2025, 1, 31, 23, 58), Decimal('269997.92'), Decimal('269997.92'), 1),
 ('FDB', 1, 126, datetime.datetime(2025, 1, 31, 23, 20), Decimal('55297.47'), Decimal('55297.47'), 2),
 ('ETD', 1, 60, datetime.datetime(2025, 1, 31, 23, 55), Decimal('59412.97'), Decimal('31356.12'), 3),
 ('ABY', 1, 57, datetime.datetime(2025, 1, 31, 23, 41), Decimal('21174.74'), Decimal('21174.74'), 4),
 ('QTR', 1, 51, datetime.datetime(2025, 1, 31, 23, 54), Decimal('43247.02'), Decimal('43247.02'), 5),
 ('FDB', 2, 134, datetime.datetime(2025, 1, 31, 23, 20), Decimal('60582.39'), Decimal('60582.39'), 1),
 ('UAE', 2, 112, datetime.datetime(2025, 1, 31, 23, 58), Decimal('179593.67'), Decimal('179593.67'), 2),
 ('ABY', 2, 48, datetime.datetime(2025, 1, 31, 23, 41), Decimal('17438.32'), Decimal('17438.32'), 3),
 ('THY', 2, 46, datetime.datetime(2025, 1, 31, 23, 45), Decimal('77646.97'), Decimal('77646.97'), 4),
 ('QTR', 2, 44, datetime.datetime(2025, 1, 31, 23, 54), Decimal('41590.95'), Decimal('41590.95'), 5),
 ('UAE', 3, 135, datetime.datetime(2025, 1, 31, 23, 58), Decimal('214169.32'), Decimal('214169.32'), 1),
 ('FDB', 3, 133, datetime.datetime(2025, 1, 31, 23, 20), Decimal('60766.61'), Decimal('60766.61'), 2),
 ('ABY', 3, 54, datetime.datetime(2025, 1, 31, 23, 41), Decimal('20016.07'), Decimal('20016.07'), 3),
 ('QTR', 3, 46, datetime.datetime(2025, 1, 31, 23, 54), Decimal('43931.45'), Decimal('43931.45'), 4),
 ('ETD', 3, 46, datetime.datetime(2025, 1, 31, 23, 55), Decimal('41408.56'), Decimal('22315.03'), 4),
 ('UAE', 4, 116, datetime.datetime(2025, 1, 31, 23, 58), Decimal('190902.53'), Decimal('190902.53'), 1),
 ('FDB', 4, 114, datetime.datetime(2025, 1, 31, 23, 20), Decimal('50617.67'), Decimal('50617.67'), 2),
 ('ABY', 4, 52, datetime.datetime(2025, 1, 31, 23, 41), Decimal('21237.56'), Decimal('21237.56'), 3),
 ('QTR', 4, 44, datetime.datetime(2025, 1, 31, 23, 54), Decimal('39269.66'), Decimal('39269.66'), 4),
 ('THY', 4, 43, datetime.datetime(2025, 1, 31, 23, 45), Decimal('75196.20'), Decimal('75196.20'), 5),
 ('UAE', 5, 133, datetime.datetime(2025, 1, 31, 23, 58), Decimal('213752.71'), Decimal('213752.71'), 1),
 ('FDB', 5, 127, datetime.datetime(2025, 1, 31, 23, 20), Decimal('58568.01'), Decimal('58568.01'), 2),
 ('QTR', 5, 58, datetime.datetime(2025, 1, 31, 23, 54), Decimal('52481.33'), Decimal('52481.33'), 3),
 ('ABY', 5, 55, datetime.datetime(2025, 1, 31, 23, 41), Decimal('21586.65'), Decimal('21586.65'), 4),
 ('THY', 5, 40, datetime.datetime(2025, 1, 31, 23, 45), Decimal('71825.25'), Decimal('71825.25'), 5),
 ('FDB', 6, 138, datetime.datetime(2025, 1, 31, 23, 20), Decimal('60531.34'), Decimal('60531.34'), 1),
 ('UAE', 6, 134, datetime.datetime(2025, 1, 31, 23, 58), Decimal('232153.40'), Decimal('232153.40'), 2),
 ('ABY', 6, 62, datetime.datetime(2025, 1, 31, 23, 41), Decimal('25365.66'), Decimal('25365.66'), 3),
 ('THY', 6, 49, datetime.datetime(2025, 1, 31, 23, 45), Decimal('84196.01'), Decimal('84196.01'), 4),
 ('QTR', 6, 44, datetime.datetime(2025, 1, 31, 23, 54), Decimal('36020.42'), Decimal('36020.42'), 5),
 ('ETD', 6, 44, datetime.datetime(2025, 1, 31, 23, 55), Decimal('47015.87'), Decimal('24174.53'), 5),
 ('FDB', 7, 131, datetime.datetime(2025, 1, 31, 23, 20), Decimal('60605.10'), Decimal('60605.10'), 1),
 ('UAE', 7, 128, datetime.datetime(2025, 1, 31, 23, 58), Decimal('221609.92'), Decimal('221609.92'), 2),
 ('ABY', 7, 62, datetime.datetime(2025, 1, 31, 23, 41), Decimal('23557.49'), Decimal('23557.49'), 3),
 ('ETD', 7, 56, datetime.datetime(2025, 1, 31, 23, 55), Decimal('56131.51'), Decimal('29710.22'), 4),
 ('THY', 7, 47, datetime.datetime(2025, 1, 31, 23, 45), Decimal('82764.67'), Decimal('82764.67'), 5),
 ('UAE', 8, 131, datetime.datetime(2025, 1, 31, 23, 58), Decimal('204750.26'), Decimal('204750.26'), 1),
 ('FDB', 8, 125, datetime.datetime(2025, 1, 31, 23, 20), Decimal('55020.40'), Decimal('55020.40'), 2),
 ('ABY', 8, 57, datetime.datetime(2025, 1, 31, 23, 41), Decimal('21253.78'), Decimal('21253.78'), 3),
 ('QTR', 8, 45, datetime.datetime(2025, 1, 31, 23, 54), Decimal('32319.38'), Decimal('32319.38'), 4),
 ('ETD', 8, 44, datetime.datetime(2025, 1, 31, 23, 55), Decimal('40641.66'), Decimal('21845.61'), 5),
 ('FDB', 9, 126, datetime.datetime(2025, 1, 31, 23, 20), Decimal('55572.65'), Decimal('55572.65'), 1),
 ('UAE', 9, 114, datetime.datetime(2025, 1, 31, 23, 58), Decimal('195689.61'), Decimal('195689.61'), 2),
 ('ABY', 9, 52, datetime.datetime(2025, 1, 31, 23, 41), Decimal('20708.74'), Decimal('20708.74'), 3),
 ('QTR', 9, 51, datetime.datetime(2025, 1, 31, 23, 54), Decimal('41045.05'), Decimal('41045.05'), 4),
 ('THY', 9, 44, datetime.datetime(2025, 1, 31, 23, 45), Decimal('73131.73'), Decimal('73131.73'), 5),
 ('FDB', 10, 119, datetime.datetime(2025, 1, 31, 23, 20), Decimal('53000.28'), Decimal('53000.28'), 1),
 ('UAE', 10, 113, datetime.datetime(2025, 1, 31, 23, 58), Decimal('178711.79'), Decimal('178711.79'), 2),
 ('QTR', 10, 56, datetime.datetime(2025, 1, 31, 23, 54), Decimal('43905.19'), Decimal('43905.19'), 3),
 ('ABY', 10, 54, datetime.datetime(2025, 1, 31, 23, 41), Decimal('19687.13'), Decimal('19687.13'), 4),
 ('THY', 10, 48, datetime.datetime(2025, 1, 31, 23, 45), Decimal('81161.30'), Decimal('81161.30'), 5),
 ('FDB', 11, 116, datetime.datetime(2025, 1, 31, 23, 20), Decimal('47651.50'), Decimal('47651.50'), 1),
 ('UAE', 11, 100, datetime.datetime(2025, 1, 31, 23, 58), Decimal('164440.83'), Decimal('164440.83'), 2),
 ('ETD', 11, 48, datetime.datetime(2025, 1, 31, 23, 55), Decimal('47612.77'), Decimal('25440.06'), 3),
 ('ABY', 11, 47, datetime.datetime(2025, 1, 31, 23, 41), Decimal('17233.67'), Decimal('17233.67'), 4),
 ('THY', 11, 47, datetime.datetime(2025, 1, 31, 23, 45), Decimal('83032.75'), Decimal('83032.75'), 4),
 ('UAE', 12, 146, datetime.datetime(2025, 1, 31, 23, 58), Decimal('265449.82'), Decimal('265449.82'), 1),
 ('FDB', 12, 124, datetime.datetime(2025, 1, 31, 23, 20), Decimal('55285.26'), Decimal('55285.26'), 2),
 ('ABY', 12, 57, datetime.datetime(2025, 1, 31, 23, 41), Decimal('22052.31'), Decimal('22052.31'), 3),
 ('ETD', 12, 56, datetime.datetime(2025, 1, 31, 23, 55), Decimal('57806.24'), Decimal('30276.31'), 4),
 ('QTR', 12, 53, datetime.datetime(2025, 1, 31, 23, 54), Decimal('48456.51'), Decimal('48456.51'), 5),
 ('FDB', 13, 131, datetime.datetime(2025, 1, 31, 23, 20), Decimal('57348.09'), Decimal('57348.09'), 1),
 ('UAE', 13, 118, datetime.datetime(2025, 1, 31, 23, 58), Decimal('192805.39'), Decimal('192805.39'), 2),
 ('QTR', 13, 59, datetime.datetime(2025, 1, 31, 23, 54), Decimal('51573.57'), Decimal('51573.57'), 3),
 ('ABY', 13, 55, datetime.datetime(2025, 1, 31, 23, 41), Decimal('21137.21'), Decimal('21137.21'), 4),
 ('THY', 13, 42, datetime.datetime(2025, 1, 31, 23, 45), Decimal('68724.99'), Decimal('68724.99'), 5),
 ('UAE', 14, 115, datetime.datetime(2025, 1, 31, 23, 58), Decimal('190780.87'), Decimal('190780.87'), 1),
 ('FDB', 14, 111, datetime.datetime(2025, 1, 31, 23, 20), Decimal('48786.68'), Decimal('48786.68'), 2),
 ('ABY', 14, 59, datetime.datetime(2025, 1, 31, 23, 41), Decimal('23138.26'), Decimal('23138.26'), 3),
 ('QTR', 14, 53, datetime.datetime(2025, 1, 31, 23, 54), Decimal('43529.21'), Decimal('43529.21'), 4),
 ('THY', 14, 46, datetime.datetime(2025, 1, 31, 23, 45), Decimal('79019.53'), Decimal('79019.53'), 5),
 ('UAE', 15, 111, datetime.datetime(2025, 1, 31, 23, 58), Decimal('180461.25'), Decimal('180461.25'), 1),
 ('FDB', 15, 111, datetime.datetime(2025, 1, 31, 23, 20), Decimal('48260.40'), Decimal('48260.40'), 1),
 ('QTR', 15, 53, datetime.datetime(2025, 1, 31, 23, 54), Decimal('48646.44'), Decimal('48646.44'), 3),
 ('ABY', 15, 53, datetime.datetime(2025, 1, 31, 23, 41), Decimal('18834.61'), Decimal('18834.61'), 3),
 ('ETD', 15, 49, datetime.datetime(2025, 1, 31, 23, 55), Decimal('55587.59'), Decimal('29871.04'), 5),
 ('UAE', 16, 126, datetime.datetime(2025, 1, 31, 23, 58), Decimal('194575.01'), Decimal('194575.01'), 1),
 ('FDB', 16, 122, datetime.datetime(2025, 1, 31, 23, 20), Decimal('53655.20'), Decimal('53655.20'), 2),
 ('QTR', 16, 64, datetime.datetime(2025, 1, 31, 23, 54), Decimal('62611.05'), Decimal('62611.05'), 3),
 ('ETD', 16, 55, datetime.datetime(2025, 1, 31, 23, 55), Decimal('58365.93'), Decimal('30456.09'), 4),
 ('ABY', 16, 52, datetime.datetime(2025, 1, 31, 23, 41), Decimal('18948.67'), Decimal('18948.67'), 5),
 ('UAE', 17, 136, datetime.datetime(2025, 1, 31, 23, 58), Decimal('194732.75'), Decimal('194732.75'), 1),
 ('FDB', 17, 115, datetime.datetime(2025, 1, 31, 23, 20), Decimal('50918.28'), Decimal('50918.28'), 2),
 ('QTR', 17, 65, datetime.datetime(2025, 1, 31, 23, 54), Decimal('60208.15'), Decimal('60208.15'), 3),
 ('ETD', 17, 56, datetime.datetime(2025, 1, 31, 23, 55), Decimal('59658.31'), Decimal('31091.90'), 4),
 ('ABY', 17, 48, datetime.datetime(2025, 1, 31, 23, 41), Decimal('17779.56'), Decimal('17779.56'), 5),
 ('FDB', 18, 118, datetime.datetime(2025, 1, 31, 23, 20), Decimal('52125.39'), Decimal('52125.39'), 1),
 ('UAE', 18, 110, datetime.datetime(2025, 1, 31, 23, 58), Decimal('182656.74'), Decimal('182656.74'), 2),
 ('QTR', 18, 52, datetime.datetime(2025, 1, 31, 23, 54), Decimal('44477.91'), Decimal('44477.91'), 3),
 ('THY', 18, 49, datetime.datetime(2025, 1, 31, 23, 45), Decimal('80643.00'), Decimal('80643.00'), 4),
 ('ETD', 18, 45, datetime.datetime(2025, 1, 31, 23, 55), Decimal('45712.80'), Decimal('23961.02'), 5),
 ('FDB', 19, 118, datetime.datetime(2025, 1, 31, 23, 20), Decimal('51849.22'), Decimal('51849.22'), 1),
 ('UAE', 19, 88, datetime.datetime(2025, 1, 31, 23, 58), Decimal('178794.39'), Decimal('178794.39'), 2),
 ('QTR', 19, 65, datetime.datetime(2025, 1, 31, 23, 54), Decimal('56612.10'), Decimal('56612.10'), 3),
 ('ETD', 19, 55, datetime.datetime(2025, 1, 31, 23, 55), Decimal('55635.12'), Decimal('28819.79'), 4),
 ('ABY', 19, 55, datetime.datetime(2025, 1, 31, 23, 41), Decimal('20129.73'), Decimal('20129.73'), 4),
 ('FDB', 20, 122, datetime.datetime(2025, 1, 31, 23, 20), Decimal('51814.78'), Decimal('51814.78'), 1),
 ('UAE', 20, 105, datetime.datetime(2025, 1, 31, 23, 58), Decimal('198704.98'), Decimal('198704.98'), 2),
 ('ETD', 20, 52, datetime.datetime(2025, 1, 31, 23, 55), Decimal('54995.49'), Decimal('28006.45'), 3),
 ('QTR', 20, 51, datetime.datetime(2025, 1, 31, 23, 54), Decimal('46215.09'), Decimal('46215.09'), 4),
 ('ABY', 20, 50, datetime.datetime(2025, 1, 31, 23, 41), Decimal('18364.55'), Decimal('18364.55'), 5),
 ('UAE', 21, 115, datetime.datetime(2025, 1, 31, 23, 58), Decimal('186663.06'), Decimal('186663.06'), 1),
 ('FDB', 21, 114, datetime.datetime(2025, 1, 31, 23, 20), Decimal('50292.53'), Decimal('50292.53'), 2),
 ('ABY', 21, 60, datetime.datetime(2025, 1, 31, 23, 41), Decimal('22917.50'), Decimal('22917.50'), 3),
 ('QTR', 21, 57, datetime.datetime(2025, 1, 31, 23, 54), Decimal('44527.79'), Decimal('44527.79'), 4),
 ('ETD', 21, 54, datetime.datetime(2025, 1, 31, 23, 55), Decimal('57386.20'), Decimal('29855.19'), 5),
 ('UAE', 22, 119, datetime.datetime(2025, 1, 31, 23, 58), Decimal('188702.75'), Decimal('188702.75'), 1),
 ('FDB', 22, 113, datetime.datetime(2025, 1, 31, 23, 20), Decimal('49353.01'), Decimal('49353.01'), 2),
 ('ETD', 22, 56, datetime.datetime(2025, 1, 31, 23, 55), Decimal('59789.20'), Decimal('31325.37'), 3),
 ('QTR', 22, 50, datetime.datetime(2025, 1, 31, 23, 54), Decimal('43907.31'), Decimal('43907.31'), 4),
 ('ABY', 22, 46, datetime.datetime(2025, 1, 31, 23, 41), Decimal('16440.80'), Decimal('16440.80'), 5),
 ('FDB', 23, 124, datetime.datetime(2025, 1, 31, 23, 20), Decimal('53135.80'), Decimal('53135.80'), 1),
 ('UAE', 23, 111, datetime.datetime(2025, 1, 31, 23, 58), Decimal('178835.84'), Decimal('178835.84'), 2),
 ('ETD', 23, 54, datetime.datetime(2025, 1, 31, 23, 55), Decimal('54578.19'), Decimal('28562.03'), 3),
 ('QTR', 23, 53, datetime.datetime(2025, 1, 31, 23, 54), Decimal('41736.46'), Decimal('41736.46'), 4),
 ('THY', 23, 49, datetime.datetime(2025, 1, 31, 23, 45), Decimal('79302.08'), Decimal('79302.08'), 5),
 ('UAE', 24, 124, datetime.datetime(2025, 1, 31, 23, 58), Decimal('204449.57'), Decimal('204449.57'), 1),
 ('FDB', 24, 114, datetime.datetime(2025, 1, 31, 23, 20), Decimal('51453.99'), Decimal('51453.99'), 2),
 ('ETD', 24, 62, datetime.datetime(2025, 1, 31, 23, 55), Decimal('64934.59'), Decimal('33775.47'), 3),
 ('QTR', 24, 50, datetime.datetime(2025, 1, 31, 23, 54), Decimal('45559.82'), Decimal('45559.82'), 4),
 ('THY', 24, 45, datetime.datetime(2025, 1, 31, 23, 45), Decimal('74877.06'), Decimal('74877.06'), 5),
 ('ABY', 24, 45, datetime.datetime(2025, 1, 31, 23, 41), Decimal('16443.90'), Decimal('16443.90'), 5),
 ('FDB', 25, 115, datetime.datetime(2025, 1, 31, 23, 20), Decimal('48796.10'), Decimal('48796.10'), 1),
 ('UAE', 25, 108, datetime.datetime(2025, 1, 31, 23, 58), Decimal('186655.82'), Decimal('186655.82'), 2),
 ('QTR', 25, 49, datetime.datetime(2025, 1, 31, 23, 54), Decimal('41923.01'), Decimal('41923.01'), 3),
 ('ABY', 25, 46, datetime.datetime(2025, 1, 31, 23, 41), Decimal('16328.41'), Decimal('16328.41'), 4),
 ('ETD', 25, 46, datetime.datetime(2025, 1, 31, 23, 55), Decimal('49100.13'), Decimal('27094.53'), 4),
 ('UAE', 26, 119, datetime.datetime(2025, 1, 31, 23, 58), Decimal('192726.78'), Decimal('192726.78'), 1),
 ('FDB', 26, 115, datetime.datetime(2025, 1, 31, 23, 20), Decimal('51584.69'), Decimal('51584.69'), 2),
 ('QTR', 26, 60, datetime.datetime(2025, 1, 31, 23, 54), Decimal('59109.27'), Decimal('59109.27'), 3),
 ('ABY', 26, 52, datetime.datetime(2025, 1, 31, 23, 41), Decimal('18999.22'), Decimal('18999.22'), 4),
 ('ETD', 26, 50, datetime.datetime(2025, 1, 31, 23, 55), Decimal('55174.83'), Decimal('28385.52'), 5),
 ('FDB', 27, 124, datetime.datetime(2025, 1, 31, 23, 20), Decimal('54187.33'), Decimal('54187.33'), 1),
 ('UAE', 27, 99, datetime.datetime(2025, 1, 31, 23, 58), Decimal('147916.35'), Decimal('147916.35'), 2),
 ('ABY', 27, 50, datetime.datetime(2025, 1, 31, 23, 41), Decimal('18584.85'), Decimal('18584.85'), 3),
 ('THY', 27, 50, datetime.datetime(2025, 1, 31, 23, 45), Decimal('77540.11'), Decimal('77540.11'), 3),
 ('ETD', 27, 49, datetime.datetime(2025, 1, 31, 23, 55), Decimal('47147.89'), Decimal('25202.49'), 5),
 ('FDB', 28, 110, datetime.datetime(2025, 1, 31, 23, 20), Decimal('48885.57'), Decimal('48885.57'), 1),
 ('UAE', 28, 102, datetime.datetime(2025, 1, 31, 23, 58), Decimal('170163.65'), Decimal('170163.65'), 2),
 ('ABY', 28, 54, datetime.datetime(2025, 1, 31, 23, 41), Decimal('19617.20'), Decimal('19617.20'), 3),
 ('ETD', 28, 53, datetime.datetime(2025, 1, 31, 23, 55), Decimal('58245.85'), Decimal('30207.82'), 4),
 ('THY', 28, 49, datetime.datetime(2025, 1, 31, 23, 45), Decimal('83824.98'), Decimal('83824.98'), 5),
 ('FDB', 29, 117, datetime.datetime(2025, 1, 31, 23, 20), Decimal('50662.72'), Decimal('50662.72'), 1),
 ('UAE', 29, 100, datetime.datetime(2025, 1, 31, 23, 58), Decimal('160181.16'), Decimal('160181.16'), 2),
 ('QTR', 29, 44, datetime.datetime(2025, 1, 31, 23, 54), Decimal('38589.20'), Decimal('38589.20'), 3),
 ('ABY', 29, 44, datetime.datetime(2025, 1, 31, 23, 41), Decimal('15572.29'), Decimal('15572.29'), 3),
 ('ETD', 29, 39, datetime.datetime(2025, 1, 31, 23, 55), Decimal('42242.22'), Decimal('22041.36'), 5),
 ('FDB', 30, 115, datetime.datetime(2025, 1, 31, 23, 20), Decimal('51625.29'), Decimal('51625.29'), 1),
 ('UAE', 30, 97, datetime.datetime(2025, 1, 31, 23, 58), Decimal('160642.27'), Decimal('160642.27'), 2),
 ('ETD', 30, 48, datetime.datetime(2025, 1, 31, 23, 55), Decimal('51325.16'), Decimal('26528.96'), 3),
 ('ABY', 30, 47, datetime.datetime(2025, 1, 31, 23, 41), Decimal('16934.43'), Decimal('16934.43'), 4),
 ('THY', 30, 47, datetime.datetime(2025, 1, 31, 23, 45), Decimal('75854.77'), Decimal('75854.77'), 4),
 ('FDB', 31, 113, datetime.datetime(2025, 1, 31, 23, 20), Decimal('50745.92'), Decimal('50745.92'), 1),
 ('UAE', 31, 107, datetime.datetime(2025, 1, 31, 23, 58), Decimal('165480.85'), Decimal('165480.85'), 2),
 ('ETD', 31, 50, datetime.datetime(2025, 1, 31, 23, 55), Decimal('52091.15'), Decimal('27683.52'), 3),
 ('ABY', 31, 45, datetime.datetime(2025, 1, 31, 23, 41), Decimal('16539.41'), Decimal('16539.41'), 4),
 ('THY', 31, 38, datetime.datetime(2025, 1, 31, 23, 45), Decimal('67269.32'), Decimal('67269.32'), 5)]

In [16]:
df_flight = result.DataFrame()

In [17]:
df_flight

,airline,flight_day,flight_count,last_purchase,total_charge,final_charge,rank
0,UAE,1,147,2025-01-31 23:58:00,269997.92,269997.92,1
1,FDB,1,126,2025-01-31 23:20:00,55297.47,55297.47,2
2,ETD,1,60,2025-01-31 23:55:00,59412.97,31356.12,3
3,ABY,1,57,2025-01-31 23:41:00,21174.74,21174.74,4
4,QTR,1,51,2025-01-31 23:54:00,43247.02,43247.02,5
...,...,...,...,...,...,...,...
152,FDB,31,113,2025-01-31 23:20:00,50745.92,50745.92,1
153,UAE,31,107,2025-01-31 23:58:00,165480.85,165480.85,2
154,ETD,31,50,2025-01-31 23:55:00,52091.15,27683.52,3
155,ABY,31,45,2025-01-31 23:41:00,16539.41,16539.41,4
156,THY,31,38,2025-01-31 23:45:00,67269.32,67269.32,5

In [21]:
# Reference date: the max(last_purchase) + 1 day
reference_date = df_flight['last_purchase'].max() + pd.Timedelta(days=1)

# Build the RFM metrics
rfm = df_flight.groupby('airline').agg({
    'last_purchase': lambda x: (reference_date - x.max()).days,  # Recency in days
    'flight_count': 'sum',                                       # Total number of flights
    'final_charge': 'sum'                                        # Total revenue
})

rfm.rename(columns={
    'last_purchase': 'Recency',
    'flight_count': 'Frequency',
    'final_charge': 'Monetary'
}, inplace=True)

# Score each part
rfm['R_Score'] = pd.qcut(rfm['Recency'].rank(method='first'), 5, labels=[5,4,3,2,1])  
rfm['F_Score'] = pd.qcut(rfm['Frequency'].rank(method='first'), 5, labels=[1,2,3,4,5])
rfm['M_Score'] = pd.qcut(rfm['Monetary'].rank(method='first'), 5, labels=[1,2,3,4,5])

# Adjust Recency by inverting the score
rfm['R_Score'] = 6 - rfm['R_Score'].astype(int)  # If R_Score is from 1 (best) to 5 (worst)

# Combine into RFM Segment
rfm['RFM_Segment'] = rfm['R_Score'].astype(str) + rfm['F_Score'].astype(str) + rfm['M_Score'].astype(str)
rfm['RFM_Score'] = rfm[['R_Score', 'F_Score', 'M_Score']].sum(axis=1)

rfm = rfm.sort_values('RFM_Score', ascending=False)

rfm.head()

,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Segment,RFM_Score
airline,,,,,,,,
UAE,1,3619,5987151.26,5,4,5,545,14
FDB,1,3735,1648979.67,2,5,4,254,11
THY,1,779,1316010.72,4,1,3,413,8
QTR,1,1317,1151493.34,3,2,2,322,7
ABY,1,1518,568022.72,1,3,1,131,5

In [26]:
# Mapping based on image
score_description = {
    5: 'Potential',
    4: 'Promising',
    3: "Can’t-lose them",
    2: 'At risk',
    1: 'Lost'
}
# Ensure scores are integers
rfm[['R_Score', 'F_Score', 'M_Score']] = rfm[['R_Score', 'F_Score', 'M_Score']].astype(int)
# Map descriptions
rfm['R_Label'] = rfm['R_Score'].map(score_description)
rfm['F_Label'] = rfm['F_Score'].map(score_description)
rfm['M_Label'] = rfm['M_Score'].map(score_description)


# Sort by segment importance if you want
rfm = rfm.sort_values(['RFM_Score'], ascending=[False])

rfm.head(15)

,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Segment,RFM_Score,R_Label,F_Label,M_Label,Segment
airline,,,,,,,,,,,,
UAE,1,3619,5987151.26,5,4,5,545,14,Potential,Promising,Potential,Loyal Customers
FDB,1,3735,1648979.67,2,5,4,254,11,At risk,Potential,Promising,Others
THY,1,779,1316010.72,4,1,3,413,8,Promising,Lost,Can’t-lose them,Others
QTR,1,1317,1151493.34,3,2,2,322,7,Can’t-lose them,At risk,At risk,Others
ABY,1,1518,568022.72,1,3,1,131,5,Lost,Can’t-lose them,Lost,Others
ETD,1,1227,667986.43,1,1,1,111,3,Lost,Lost,Lost,Lost Customers

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 1. Filter for top rank = 1
top_airlines = df_flight[df_flight['rank'] == 1]

# 2. Count how many times each airline was rank 1
rank_counts = top_airlines['airline'].value_counts()

# 3. Sum of final_charge for each airline for whole month
monetary_sum = df_flight.groupby('airline')['final_charge'].sum()

# 4. Combine both into a DataFrame
combined = pd.DataFrame({
    'top_rank_count': rank_counts,
    'total_final_charge': monetary_sum
}).fillna(0)

# Optional: Normalize if needed
combined['total_final_charge'] = combined['total_final_charge'].astype(float)
combined['score'] = combined['top_rank_count'] + (combined['total_final_charge'] / combined['total_final_charge'].max())

# 5. Plot Pie chart for monetary contribution
plt.figure(figsize=(8, 8))
colors = sns.color_palette('pastel')[0:len(combined)]

plt.pie(
    combined['total_final_charge'], 
    labels=combined.index, 
    autopct='%1.1f%%', 
    startangle=140, 
    colors=colors
)
plt.title("Airlines' Final Charge Share in January 2024")
plt.tight_layout()
plt.show()

In [ ]:

plt.figure(figsize=(12,6))
sns.countplot(data=rfm, x='Segment', order=rfm['Segment'].value_counts().index)
plt.title('Airlines per RFM Segment', fontsize=16)
plt.xticks(rotation=45)
plt.show()

***

In [ ]:
import folium
from geopy.distance import geodesic

In [ ]:
# Helper to convert DMS (degrees, minutes, seconds) to decimal
def dms_to_decimal(d, m, s, direction):
    decimal = d + m / 60 + s / 3600
    if direction in ['S', 'W']:
        return -decimal
    return decimal

In [ ]:
def parse_dms_string(dms_str):
    # Split on the "-" between lat and lon
    lat_str, lon_str = dms_str.split('-')
    # Extract components
    lat_parts = lat_str.strip().split()
    lon_parts = lon_str.strip().split()
    return (
        (int(lat_parts[0]), int(lat_parts[1]), int(lat_parts[2]), lat_parts[3]),
        (int(lon_parts[0]), int(lon_parts[1]), int(lon_parts[2]), lon_parts[3])
    )

In [ ]:
%%sql result <<
select point, coordinate
from rfm.points;

In [ ]:
df2 = result.DataFrame()

In [ ]:
%%sql
result <<
SELECT
  max(distance) max,entry_point,exit_point
FROM
  rfm.f202401
WHERE
  length (airline) = 3
GROUP BY
  entry_point,exit_point
ORDER BY
   max(distance) desc limit 1;

In [ ]:
result

In [ ]:
%%sql
result <<
select departure,destination
from rfm.f202401 
where entry_point = 'AGINA' AND exit_point = 'ASVIB';

In [ ]:
result

In [ ]:
# Coordinates dictionary
waypoints = dict(zip(df2['point'], df2['coordinate']))

In [ ]:
# Convert all to decimal degrees
coords = {}
for name, coord_str in waypoints.items():
    lat_dms, lon_dms = parse_dms_string(coord_str)
    lat = dms_to_decimal(*lat_dms)
    lon = dms_to_decimal(*lon_dms)
    coords[name] = (lat, lon)

In [ ]:
# Function to plot two points with distance
def plot_two_points_with_distance(name1, name2):
    if name1 not in coords or name2 not in coords:
        print("One or both point names not found.")
        return
    
    lat1, lon1 = coords[name1]
    lat2, lon2 = coords[name2]

    # Calculate distance
    point1 = (lat1, lon1)
    point2 = (lat2, lon2)
    distance = geodesic(point1, point2).nautical  # ✅ Gives you distance in nautical miles
    
    # Midpoint for map centering
    mid_lat = (lat1 + lat2) / 2
    mid_lon = (lon1 + lon2) / 2
        
    # Create the map centered at the midpoint
    m = folium.Map(location=[mid_lat, mid_lon], zoom_start=6)

    # Add markers for both points
    folium.Marker([lat1, lon1], popup=name1, tooltip=name1).add_to(m)
    folium.Marker([lat2, lon2], popup=name2, tooltip=name2).add_to(m)

    # Draw a line between the two points
    folium.PolyLine(locations=[[lat1, lon1], [lat2, lon2]], color="blue").add_to(m)

    # Add the distance label on the map near the line
    folium.Marker(
        location=[(lat1 + lat2 + 0.4)/2, (lon1 + lon2 + 0.4)/2],
        icon=folium.DivIcon(html=f'<div style="font-size: 12px; color: black;">{distance:.2f} N.M</div>')
    ).add_to(m)
    return m

In [ ]:
plot_two_points_with_distance('AGINA', 'ASVIB')

<div style="text-align: center;">
  <img src="great_circle.jpg" alt="Alt Text" height="400" width="800"/>
</div>